<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Message</title>
  </head>
  <body>
    <h3>Edit Your Message: <%=chat._id%></h3>
    <p>This chat was sent from<b> <%=chat.from%></b> to <b><%=chat.to%></b></p>
    <form action="/chats/<%=chat._id%>?_method=PUT" method="post">
      <textarea name="message" rows="10" cols="50" id="">
<%= chat.message %></textarea
      >
      <br />
      <button type="submit">Edit</button>
    </form>
  </body>
</html>
